{% extends 'components/layout.html' %}
{% block content %}
    <div class="account-page">
        <div class="account-information">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend class="account-legend">Account Information</legend>
                    <div class="account-input-container">
                        {{ form.username.label(class="account-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="account-input") }}
                            <div>
                                {% for error in form.username.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="account-input") }}
                        {% endif %}
                    </div>
                    <div class="account-input-container">
                        {{ form.email.label(class="account-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="account-input") }}
                            <div>
                                {% for error in form.email.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="account-input") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="account-submit-btn-container">
                    {{ form.submit(class="account-update-btn") }}
                </div>
            </form>
        </div>
        <div class="account-manage-btn-container">
            <a class="account-btn" href="{{ url_for('events.manage_events') }}">Manage Events</a>
            <a class="account-btn" href="{{ url_for('tags.manage_tags') }}">Manage Tags</a>
            <a class="account-btn" href="{{ url_for('users.register') }}">Create Account</a>
        </div>
    </div>
{% endblock content %}
