{% extends 'components/layout.html' %}
{% block content %}
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="new-account-legend">Create New Account</legend>
                <div class="new-account-input-container">
                    {{ form.username.label(class="new-account-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="new-account-input") }}
                        <div>
                            {% for error in form.username.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="new-account-input") }}
                    {% endif %}
                </div>
                <div class="new-account-input-container">
                    {{ form.email.label(class="new-account-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="new-account-input") }}
                        <div>
                            {% for error in form.email.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="new-account-input") }}
                    {% endif %}
                </div>
                <div class="new-account-input-container">
                    {{ form.password.label(class="new-account-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="new-account-input") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="new-account-input") }}
                    {% endif %}
                </div>
                <div class="new-account-input-container">
                    {{ form.confirm_password.label(class="new-account-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="new-account-input") }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="new-account-input") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="register-btn-container">
                {{ form.submit(class="register-btn") }}
                <a class="register-btn" href="{{ url_for('users.account') }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

