{% extends 'components/layout.html' %}
{% block content %}
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Reset Password</legend>
                <div>
                    {{ form.password.label(class="css-class-name") }}
                    {% if form.password.errors %}
                        {{ form.password(class="alert-error css-class-name-2") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="css-class-name-1 css-class-name-2") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.confirm_password.label(class="css-class-name") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="alert-error css-class-name-2") }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="css-class-name-1 css-class-name-2") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="css-class-name") }}
            </div>
            <button>
                <a href="{{ url_for('main.index') }}">Cancel</a>
            </button>
        </form>
    </div>
{% endblock content %}

