{% extends 'layout.html' %}
{% block content %}
    <h1>Account for: {{ current_user.username }}</h1>
    <h2>Email: {{ current_user.email }}</h2>
    <img src="{{ profile_img }}" alt="account profile picture">
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Account Information</legend>
                <div>
                    {{ form.username.label(class="css-class-name") }}
                    {% if form.username.errors %}
                        {{ form.username(class="alert-error css-class-name-2") }}
                        <div>
                            {% for error in form.username.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="css-class-name-1 css-class-name-2") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.email.label(class="css-class-name") }}
                    {% if form.email.errors %}
                        {{ form.email(class="alert-error css-class-name-2") }}
                        <div>
                            {% for error in form.email.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="css-class-name-1 css-class-name-2") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.profile_picture.label(class="css-class-name") }}
                    {{ form.profile_picture(class="css-class-name") }}
                    {% if form.profile_picture.errors %}
                        {% for error in form.profile_picture.errors %}
                            <span class="alert-error">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="css-class-name") }}
            </div>
        </form>
    </div>
    <div>
        <button>
            <a href="{{ url_for('new_event') }}">Create Event</a>
        </button>
        <button>
            <a href="{{ url_for('manage_events') }}">Manage Events</a>
        </button>
        <button>
            <a href="{{ url_for('new_category') }}">Create Category</a>
        </button>
    </div>
    <div>
{% endblock content %}
