{% extends 'layout.html' %}
{% block content %}
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Update Category</legend>
                <div>
                    {{ form.name.label(class="css-class-name") }}
                    {% if form.name.errors %}
                        {{ form.name(class="alert-error css-class-name-2") }}
                        <div>
                            {% for error in form.name.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="css-class-name-1 css-class-name-2") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="css-class-name") }}
            </div>
            <button>
                <a href="{{ url_for('categories.manage_categories') }}">Cancel</a>
            </button>
        </form>
    </div>
{% endblock content %}
