<footer>
    <div>
        <b>USC Main Office</b>
        <p>Room 340, UCC Building</p>
        <p>Western University</p>
        <p>London, ON N6A 3K7</p>
    </div>
    <div>
        <a href="https://www.facebook.com/westernusc">
            <img src="{{ url_for('static', filename='images/social-media/facebook.svg') }}" alt="Facebook link">
        </a>
        <a href="https://www.instagram.com/westernusc">
            <img src="{{ url_for('static', filename='images/social-media/instagram.svg') }}" alt="Instagram link">
        </a>
        <a href="https://www.twitter.com/WesternUSC">
            <img src="{{ url_for('static', filename='images/social-media/twitter.svg') }}" alt="Twitter link">
        </a>
        <a href="https://www.youtube.com/channel/UCjKeiAjymHZnt61ePEzpxVA">
            <img src="{{ url_for('static', filename='images/social-media/youtube.svg') }}" alt="YouTube link">
        </a>
        <a href="https://www.linkedin.com/company/university-students%27%E2%80%8B-council-at-the-university-of-western-ontario">
            <img src="{{ url_for('static', filename='images/social-media/linkedin.svg') }}" alt="LinkedIn link">
        </a>
    </div>
</footer>
