{% extends 'layout.html' %}
{% block content %}
    <button>
        <a href="{{ url_for('new_event') }}">Create Event</a>
    </button>
    <table>
        <caption>Manage All Events</caption>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Tag(s)</th>
            <th scope="col">Author</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.category.name }}</td>
                <td>
                    {% for tag in event.tags %}
                        {% if tag.name == event.tags[-1].name %}
                            <span>{{ tag.name }}</span>
                        {% else %}
                            <span>{{ tag.name }}, </span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ event.author.username }}</td>
                <td>
                    <a href="{{ url_for('update_event', id=event.id) }}">Update</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_event_confirmation', id=event.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
