### PyCharm IDE ###
.idea/

### MacOS ###
.DS_Store

### NPM ###
node_modules/

### Source CSS Files ###
static/styles/css/*.css

### All user-uploaded profile pictures (with the exception of default.svg) ###
usctimeline/static/images/profile/*
usctimeline/static/images/profile/!default.svg

### Compiled Python Code ###
*.pyc

