.event-button-container {
  padding: 2rem 0;
}

.event-back-button {
  @include btn-secondary-med;
}

.event-category-container {
  padding: 0.5rem 0;
  text-align: center;
}

.single-event-category {
  display: inline-block;
  padding: 0.5rem;
  border-radius: $border-radius-1;
  font-family: $main-font;
}

.single-event-header-information {
  text-align: center;
  padding: 0.5rem 0;
}

.single-event-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.single-event-image {
  margin: 1rem;

  img {
    width: 100%;
  }

  @include for-phone-only {
    width: pxToRem(150px);
  }

  @include for-tablet-portrait-up {
    width: pxToRem(200px);
  }

  @include for-tablet-landscape-up {
    width: pxToRem(250px);
  }
}

.single-event-description-container {
  padding: 1rem 0;
}

.single-event-tags-container {
  padding-bottom: 1rem;
}

.single-event-tag-header {
  display: inline-block;
}

.single-event-authentication-buttons-container {
  padding: 2rem 0;
  text-align: center;
}

.single-event-authentication-button {
  margin: 0 0.5rem;
  @include btn-secondary-med;
}
