.container {
  margin: auto;
  width: 95%;

  @include for-desktop-up {
    width: pxToRem(1100px);
  }

  @include for-large-desktop-up {
    width: pxToRem(1720px);
  }
}

.category-info-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.category-info-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;

  @include for-phone-only {
    display: block;
    text-align: left;
  }
}

.dot {
  height: pxToRem(20px);
  width: pxToRem(20px);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.usc-dot {
  background-color: $usc-purple;
}

.statistics-dot {
  background-color: $statistics-green;
}

.culture-dot {
  background-color: $culture-orange;
}

.category-info-subheading {
  display: inline-block;
  margin-left: 0.5rem;
}

.timeline {
  margin: 3rem 0 5rem 0;
  padding: 1rem;
  border-radius: pxToRem(15px);
  box-shadow: 0 pxToRem(10px) pxToRem(20px) rgba(0, 0, 0, 0.19), 0 pxToRem(6px) pxToRem(6px) rgba(0, 0, 0, 0.23);
  background-color: $off-white;
}

.usc-event {
  background-color: $usc-purple;
}

.statistics-event {
  background-color: $statistics-green;
}

.culture-event {
  background-color: $culture-orange;
}

.year {
  font-size: $h2;

  @include for-tablet-landscape-up {
    font-size: $h1;
  }
}

.months-container {
  margin: 1rem 0;
  @include grid-container((auto 1fr), pxToRem(10px))
}

.month {
  border-top: pxToRem(2px) solid #000000;
  padding-top: pxToRem(5px);
  text-transform: uppercase;
  font-size: $h4;
}

.event-container {
  border-left: pxToRem(4px) solid #000000;
}

.event {
  display: flex;
}

.event-date {
  padding-top: 1rem;
  min-width: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: $h5;
  font-weight: 700;
}

.event-categories {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr;

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.event-category {
  padding-top: 1rem;
  min-height: pxToRem(50px);
  text-align: center;
}

.event-link {
  text-decoration: none;
  color: $black;
  font-weight: 400;

  &:hover {
    font-weight: 700;
  }
}

.hidden {
  @include for-phone-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;
  }

  @include for-tablet-landscape-up {
    display: block;
  }
}
