.category-info-container {
  padding: 3rem 0;
}

.category-info-heading {
  text-align: center;
}

.category-info-items-container {
  display: flex;
  justify-content: center;

  @include for-phone-only {
    flex-flow: column wrap;
  }
}

.category-info-item {
  margin: 0 1rem;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: $border-radius-1;

  @include for-phone-only {
    margin: 0.5rem 0;
  }
}

.category-info-text {
  font-weight: 700;
  margin: 0;

  @include for-phone-only {
    text-align: center;
  }
}

.timeline-container {
  margin-bottom: 3rem;
  padding: 1rem;
  border: pxToRem(1px) solid $light-grey;
  border-radius: $border-radius-2;
  background-color: $white;
}

.usc-event {
  background-color: $usc-purple;
}

.statistics-event {
  background-color: $statistics-green;
}

.culture-event {
  background-color: $culture-orange;
}

.year {
}

.months-container {
  margin: 1rem 0;
  @include grid-container((auto 1fr), pxToRem(10px))
}

.month {
  border-top: pxToRem(2px) solid #000000;
  padding-top: pxToRem(5px);
  text-transform: uppercase;
}

.event-container {
  border-left: pxToRem(4px) solid #000000;
}

.event {
  display: flex;
}

.event-date {
  padding-top: 1rem;
  min-width: 3rem;
  font-family: $main-font;
  font-size: $h5;
  font-weight: 700;
}

.event-categories {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr;

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.event-category {
  padding: 1rem 0;
  min-height: pxToRem(50px);
  text-align: center;
}

.event-link {
  text-decoration: none;
  color: $black;
  font-weight: 400;

  &:hover {
    font-weight: 700;
  }
}

.hidden {
  @include for-phone-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;
  }

  @include for-tablet-landscape-up {
    display: block;
  }
}
