{% extends 'components/layout.html' %}
{% block content %}
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="edit-tag-legend">{{ legend }}</legend>
                <div>
                    {{ form.name.label(class="edit-tag-input-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="edit-tag-input") }}
                        <div>
                            {% for error in form.name.errors %}
                                <span class="alert-error">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="edit-tag-input") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="edit-tag-submit-btn") }}
                <a class="edit-tag-cancel-btn" href="{{ url_for('tags.manage_tags') }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
