@mixin for-small-phone-only() {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin for-phone-up() {
  @media (min-width: 350px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin grid-container(
  $grid-template-columns: false,
  $grid-column-gap: false,
  $grid-row-gap: false,
  $justify-items: false,
) {
  display: grid;

  @if $grid-template-columns {
    grid-template-columns: $grid-template-columns;
  }
  @if $grid-column-gap {
    grid-column-gap: $grid-column-gap;
  }
  @if $grid-row-gap {
    grid-row-gap: $grid-row-gap;
  }
  @if $justify-items {
    justify-items: $justify-items;
  }
}

@mixin flex-container(
  $justify-content: false,
  $align-items: false,
) {
  display: flex;
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items;
  }
}

@mixin btn-base(
  $background-color,
  $border-color,
  $color
) {
  display: inline-block;
  background-color: $background-color;
  border: pxToRem(2px) solid $border-color;
  border-radius: $border-radius-1;
  font-family: $main-font;
  text-decoration: none;
  color: $color;
  font-weight: 700;
  cursor: pointer;
}

@mixin btn-sm {
  padding: 0.5rem;
}

@mixin btn-med {
  padding: 0.75rem;
}

@mixin btn-lg {
  padding: 1rem;
}

@mixin btn-primary {
  @include btn-base(
          $border-color: $dark-purple,
          $background-color: $dark-purple,
          $color: $white
  );

  &:hover {
    background-color: $background-color;
    color: $dark-purple;
    border-color: $dark-purple;
    transition: 0.3s;
  }
}

@mixin btn-primary-2 {
  @include btn-base(
  $border-color: $black,
  $background-color: $black,
  $color: $white
  );

  &:hover {
    background-color: $white;
    color: $black;
    border-color: $black;
    transition: 0.3s;
  }
}

@mixin btn-secondary {
  @include btn-base(
          $border-color: $black,
          $background-color: $background-color,
          $color: $black
  );

  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
    transition: 0.3s;
  }
}

@mixin btn-primary-sm {
  @include btn-primary;
  @include btn-sm;
}

@mixin btn-primary-lg {
  @include btn-primary;
  @include btn-lg;
}

@mixin btn-primary-2-sm {
  @include btn-primary-2;
  @include btn-sm;
}

@mixin btn-primary-2-med {
  @include btn-primary-2;
  @include btn-med;
}

@mixin btn-primary-2-lg {
  @include btn-primary-2;
  @include btn-lg;
}

@mixin btn-secondary-sm {
  @include btn-secondary;
  @include btn-sm;
}

@mixin btn-secondary-med {
  @include btn-secondary;
  @include btn-med;
}

@mixin btn-secondary-lg {
  @include btn-secondary;
  @include btn-lg;
}

@mixin text-input {
  border: 1px solid $dark-grey;
}
