$h1: 4.209rem;
$h2: 3.157rem;
$h3: 2.369rem;
$h4: 1.777rem;
$h5: 1.333rem;
$h6: 1rem;
$base: 1rem;

$black: #000000;
$off-white: #EFF1F3;
$usc-purple: #7B2CBF;
$statistics-green: #77966D;
$culture-orange: #F78E69;
$kobe: #78290F;
