<footer class="footer">
    <div class="footer-container">
        <div class="usc-info-container">
            <b>USC Main Office</b>
            <p>Room 340, UCC Building</p>
            <p>Western University</p>
            <p>London, ON N6A 3K7</p>
        </div>
        <div class="social-media-links-container">
            <a href="https://www.facebook.com/westernusc" class="social-media-link">
                <img src="{{ url_for('static', filename='images/social-media/facebook.svg') }}" alt="Facebook link"
                     class="social-media-img">
            </a>
            <a href="https://www.instagram.com/westernusc" class="social-media-link">
                <img src="{{ url_for('static', filename='images/social-media/instagram.svg') }}" alt="Instagram link"
                     class="social-media-img">
            </a>
            <a href="https://www.twitter.com/WesternUSC" class="social-media-link">
                <img src="{{ url_for('static', filename='images/social-media/twitter.svg') }}" alt="Twitter link"
                     class="social-media-img">
            </a>
            <a href="https://www.youtube.com/channel/UCjKeiAjymHZnt61ePEzpxVA" class="social-media-link">
                <img src="{{ url_for('static', filename='images/social-media/youtube.svg') }}" alt="YouTube link"
                     class="social-media-img">
            </a>
            <a href="https://www.linkedin.com/company/university-students%27%E2%80%8B-council-at-the-university-of-western-ontario"
               class="social-media-link">
                <img src="{{ url_for('static', filename='images/social-media/linkedin.svg') }}" alt="LinkedIn link"
                     class="social-media-img">
            </a>
        </div>
    </div>
</footer>
