<header class="header">
    <nav class="nav">
        <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='images/icons/usc_logo.png') }}" alt="home icon" class="nav-img">
        </a>
        <div>
            <ul>
                <li class="nav-item"><a href="{{ url_for('events.search_event') }}">Search</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('users.account') }}">Account</a></li>
                    <li class="nav-item"><a href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ url_for('users.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
