{% extends 'components/layout.html' %}
{% block content %}
    <div class="manage-events-new-event-btn-container">
        <a class="manage-events-new-event-btn" href="{{ url_for('events.new_event') }}">Create Event</a>
    </div>
    <table class="manage-events-table">
        <caption class="manage-events-table-caption">Manage All Events</caption>
        <thead class="manage-events-table-header">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Tag(s)</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.category.name }}</td>
                <td>
                    {% for tag in event.tags %}
                        {% if tag.name == event.tags[-1].name %}
                            <span>{{ tag.name }}</span>
                        {% else %}
                            <span>{{ tag.name }}, </span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ url_for('events.update_event', id=event.id) }}">Update</a>
                </td>
                <td>
                    <a href="{{ url_for('events.delete_event_confirmation', id=event.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
