html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

*, *::before, *::after {
  box-sizing: inherit; }

.header {
  background-color: lightgray; }

.nav {
  margin: auto;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-img {
  max-height: 60px;
  max-width: 60px; }

.account-link {
  margin-left: 0.625rem; }

.nav-item {
  display: inline;
  margin-left: 0.4375rem; }

.footer {
  background-color: lightgray; }

.footer-container {
  margin: auto;
  width: 95%;
  display: flex;
  height: 9.375rem;
  justify-content: space-between;
  align-items: center; }

.social-media-links-container {
  width: 30rem; }

.social-media-img {
  max-height: 80px;
  max-width: 80px; }

.social-media-img {
  margin-left: 2rem;
  max-height: 40px;
  max-width: 40px; }

.container {
  margin: auto;
  width: 80%; }
