@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/italic/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/italic/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  background-color: #FAFAFA; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  line-height: 140%;
  margin-bottom: 1.25rem; }

a {
  font-family: "Roboto", sans-serif; }

@media (max-width: 599px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 600px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 4rem; } }

@media (max-width: 599px) {
  h2 {
    font-size: 2rem; } }

@media (min-width: 600px) {
  h2 {
    font-size: 2rem; } }

@media (min-width: 900px) {
  h2 {
    font-size: 3rem; } }

@media (max-width: 599px) {
  h3 {
    font-size: 1.5rem; } }

@media (min-width: 600px) {
  h3 {
    font-size: 1.5rem; } }

@media (min-width: 900px) {
  h3 {
    font-size: 2rem; } }

@media (max-width: 599px) {
  h4 {
    font-size: 1.25rem; } }

@media (min-width: 600px) {
  h4 {
    font-size: 1.25rem; } }

@media (min-width: 900px) {
  h4 {
    font-size: 1.5rem; } }

p {
  font-size: 16px; }

input {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.container {
  margin: 0 auto; }
  @media (max-width: 599px) {
    .container {
      width: 90%; } }
  @media (min-width: 600px) {
    .container {
      width: 85%; } }
  @media (min-width: 900px) {
    .container {
      width: 50rem; } }
  @media (min-width: 1200px) {
    .container {
      width: 68.75rem; } }

.usc-category {
  background-color: #C7B0E8; }

.statistics-category {
  background-color: #B0E8C7; }

.culture-category {
  background-color: #E8C7B0; }

.header {
  border-bottom: 1px solid #EDEDED;
  height: 6.25rem; }

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-logo-container {
  border-radius: 50%; }
  @media (max-width: 599px) {
    .header-logo-container {
      height: 3.125rem;
      width: 3.125rem; } }
  @media (min-width: 600px) {
    .header-logo-container {
      height: 3.75rem;
      width: 3.75rem; } }
  .header-logo-container .header-logo-img {
    height: 100%; }

.header-nav-link {
  margin-left: 1rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .header-nav-link:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.footer {
  border-top: 0.0625rem solid #EDEDED; }

.footer-grid-container {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  justify-content: space-between; }
  @media (max-width: 599px) {
    .footer-grid-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      margin-bottom: 3rem; } }
  @media (min-width: 600px) {
    .footer-grid-container {
      grid-template-columns: 1fr 1fr; } }

@media (max-width: 599px) {
  .footer-usc-info {
    justify-self: center;
    text-align: center; } }

@media (min-width: 600px) {
  .footer-usc-info {
    justify-self: left; } }

.footer-social-icon-container {
  display: flex;
  align-items: center;
  justify-self: end; }
  @media (max-width: 599px) {
    .footer-social-icon-container {
      justify-self: center; } }
  @media (min-width: 600px) {
    .footer-social-icon-container {
      justify-self: end; } }

.footer-social-icon {
  margin-left: 1.25rem;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%; }
  .footer-social-icon:hover {
    background: #EDEDED;
    margin-bottom: 0.3125rem; }

.social-icon-img {
  width: 100%; }

.alert {
  margin: auto;
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.alert-error {
  background-color: #FFAFAF; }

.alert-message {
  background-color: #CBB5E9; }

.alert-success {
  background-color: #BBE4C1; }

.category-info-container {
  padding: 3rem 0; }

.category-info-heading {
  text-align: center; }

.category-info-items-container {
  display: flex;
  justify-content: center; }
  @media (max-width: 599px) {
    .category-info-items-container {
      flex-flow: column wrap; } }

.category-info-item {
  margin: 0 1rem;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 4px; }
  @media (max-width: 599px) {
    .category-info-item {
      margin: 0.5rem 0; } }

.category-info-text {
  font-weight: 700;
  margin: 0; }
  @media (max-width: 599px) {
    .category-info-text {
      text-align: center; } }

.timeline-container {
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.0625rem solid #EDEDED;
  border-radius: 10px;
  background-color: #FFFFFF; }

.usc-event {
  background-color: #C7B0E8; }

.statistics-event {
  background-color: #B0E8C7; }

.culture-event {
  background-color: #E8C7B0; }

.months-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.625rem; }

.month {
  border-top: 0.125rem solid #000000;
  padding-top: 0.3125rem;
  text-transform: uppercase; }

.event-container {
  border-left: 0.25rem solid #000000; }

.event {
  display: flex; }

.event-date {
  padding-top: 1rem;
  min-width: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700; }

.event-categories {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 900px) {
    .event-categories {
      grid-template-columns: 1fr 1fr 1fr; } }

.event-category {
  padding: 1rem 0.25rem;
  min-height: 3.125rem;
  text-align: center; }

.event-link {
  text-decoration: none;
  color: #000000;
  font-weight: 400; }
  .event-link:hover {
    font-weight: 700; }

@media (max-width: 599px) {
  .hidden {
    display: none; } }

@media (min-width: 600px) {
  .hidden {
    display: none; } }

@media (min-width: 900px) {
  .hidden {
    display: block; } }

.event-button-container {
  padding: 2rem 0; }

.event-back-button {
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .event-back-button:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.event-category-container {
  padding: 0.5rem 0;
  text-align: center; }

.single-event-category {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: "Roboto", sans-serif; }

.single-event-header-information {
  text-align: center;
  padding: 0.5rem 0; }

.single-event-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }

.single-event-image {
  margin: 1rem; }
  .single-event-image img {
    width: 100%; }
  @media (max-width: 599px) {
    .single-event-image {
      width: 9.375rem; } }
  @media (min-width: 600px) {
    .single-event-image {
      width: 12.5rem; } }
  @media (min-width: 900px) {
    .single-event-image {
      width: 15.625rem; } }

.single-event-description-container {
  padding: 1rem 0; }

.single-event-tags-container {
  padding-bottom: 1rem; }

.single-event-tag-header {
  display: inline-block; }

.single-event-authentication-buttons-container {
  padding: 2rem 0;
  text-align: center; }

.single-event-authentication-button {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .single-event-authentication-button:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.search-container {
  padding: 1rem 0; }

.search-event-form-element {
  padding: 1.5rem 0; }

.search-title-input-field {
  padding: 1rem;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  width: 100%;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 599px) {
    .search-title-input-field {
      font-size: 1.5rem; } }
  @media (min-width: 600px) {
    .search-title-input-field {
      font-size: 1.5rem; } }
  @media (min-width: 900px) {
    .search-title-input-field {
      font-size: 2rem; } }

.search-input-label {
  margin-bottom: 1rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
  @media (max-width: 599px) {
    .search-input-label {
      font-size: 1.25rem; } }
  @media (min-width: 600px) {
    .search-input-label {
      font-size: 1.25rem; } }
  @media (min-width: 900px) {
    .search-input-label {
      font-size: 1.5rem; } }

.search-input-field {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0.75rem 0.5rem;
  border: 0.0625rem solid #EDEDED;
  border-radius: 4px; }

.search-exact-date-input-field {
  display: block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.75rem;
  border: 0.0625rem solid #EDEDED;
  border-radius: 4px; }
  @media (max-width: 599px) {
    .search-exact-date-input-field {
      width: 100%; } }
  @media (min-width: 600px) {
    .search-exact-date-input-field {
      width: 49.25%; } }

.search-event-form-date-container {
  display: grid; }
  @media (max-width: 599px) {
    .search-event-form-date-container {
      grid-template-columns: 1fr; } }
  @media (min-width: 600px) {
    .search-event-form-date-container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem; } }

@media (max-width: 599px) {
  .search-event-form-date {
    margin-bottom: 1rem; } }

.search-date-range-input-label {
  margin-bottom: 0.5rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700; }

.search-date-input-field {
  width: 100%;
  text-transform: uppercase; }

@media (max-width: 599px) {
  .search-category-input-field {
    width: 100%; } }

@media (min-width: 600px) {
  .search-category-input-field {
    width: 49.25%; } }

.search-tag-input-field {
  border: 0.0625rem solid #EDEDED;
  border-bottom: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  @media (max-width: 599px) {
    .search-tag-input-field {
      width: 100%; } }
  @media (min-width: 600px) {
    .search-tag-input-field {
      width: 25%; } }
  .search-tag-input-field > option {
    padding: 0.75rem 0.5rem;
    text-align: center;
    border-bottom: 0.0625rem solid #EDEDED; }

@media (max-width: 599px) {
  .search-btn {
    margin: 0.5rem 0;
    display: block;
    width: 100%; } }

@media (min-width: 600px) {
  .search-btn {
    margin: 0 0.5rem;
    width: 5.625rem; } }

.search-submit-btn {
  display: inline-block;
  background-color: #000000;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .search-submit-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
    transition: 0.3s; }

.search-clear-btn {
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .search-clear-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.search-btn-container {
  padding: 2rem 0;
  text-align: center; }

.results-container {
  padding: 2rem 0; }

.search-result {
  border-bottom: 0.0625rem solid #EDEDED;
  padding: 1rem 0; }

.search-results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.search-results-category-container {
  margin: 1rem 0;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: "Roboto", sans-serif; }

.search-results-tag-header {
  display: inline-block; }

.login-page {
  display: flex;
  justify-content: center; }

@media (max-width: 599px) {
  .club-login-container {
    width: 100%; } }

@media (min-width: 600px) {
  .club-login-container {
    border: 1px solid #EDEDED;
    border-radius: 4px;
    padding: 2rem 3rem; } }

.login-input-container {
  padding: 0.5rem 0; }

.login-form-legend {
  text-align: center; }

.login-label {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem; }

.login-input {
  border: 0.0625rem solid #495057;
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .login-input {
      width: 100%; } }
  @media (min-width: 600px) {
    .login-input {
      width: 25rem; } }

.login-btn-container {
  padding: 1rem 0; }

.login-btn {
  display: inline-block;
  background-color: #4F2784;
  border: 0.125rem solid #4F2784;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%; }
  .login-btn:hover {
    background-color: #FAFAFA;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }

.update-event-legend {
  padding: 1rem 0;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .update-event-legend {
      font-size: 2rem; } }
  @media (min-width: 600px) {
    .update-event-legend {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    .update-event-legend {
      font-size: 3rem; } }

.update-event-input-container {
  padding: 1rem 0; }

.update-event-label {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem; }

.update-event-input {
  border: 0.0625rem solid #495057;
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 350px) {
    .update-event-input {
      width: 100%; } }
  @media (min-width: 900px) {
    .update-event-input {
      width: 50%; } }

.update-event-tag-input {
  border: 0.0625rem solid #EDEDED;
  border-bottom: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  @media (min-width: 350px) {
    .update-event-tag-input {
      width: 100%; } }
  @media (min-width: 900px) {
    .update-event-tag-input {
      width: 25%; } }
  .update-event-tag-input > option {
    padding: 0.75rem 0.5rem;
    text-align: center;
    border-bottom: 0.0625rem solid #EDEDED; }

.edit-event-current-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media (min-width: 350px) {
    .edit-event-current-images-container {
      width: 100%; } }
  @media (min-width: 900px) {
    .edit-event-current-images-container {
      width: 50%; } }

.edit-event-current-img {
  height: 50px; }
  .edit-event-current-img img {
    height: 100%; }

.update-event-btn-container {
  padding: 2rem 0;
  text-align: center; }

.update-event-submit-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #4F2784;
  border: 0.125rem solid #4F2784;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem; }
  .update-event-submit-btn:hover {
    background-color: #FAFAFA;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }

.update-event-cancel-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem; }
  .update-event-cancel-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.account-page {
  padding: 1rem 0; }

.account-legend {
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .account-legend {
      font-size: 2rem; } }
  @media (min-width: 600px) {
    .account-legend {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    .account-legend {
      font-size: 3rem; } }

.account-input-container {
  padding: 1rem 0; }

.account-label {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem; }

.account-input {
  border: 0.0625rem solid #495057;
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .account-input {
      width: 100%; } }
  @media (min-width: 600px) {
    .account-input {
      width: 50%; } }

.account-submit-btn-container {
  padding: 1rem 0; }
  @media (max-width: 599px) {
    .account-submit-btn-container {
      text-align: center; } }

.account-update-btn {
  display: inline-block;
  background-color: #4F2784;
  border: 0.125rem solid #4F2784;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .account-update-btn:hover {
    background-color: #FAFAFA;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }

.account-manage-btn-container {
  text-align: center; }

.account-btn {
  margin: 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .account-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.manage-events-table {
  width: 100%;
  font-family: "Roboto", sans-serif; }

.manage-events-table-header {
  text-align: left; }

.manage-events-new-event-btn-container {
  padding: 1rem;
  text-align: center; }

.manage-events-new-event-btn {
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .manage-events-new-event-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.manage-events-table-caption {
  padding: 2rem 0; }
  @media (max-width: 599px) {
    .manage-events-table-caption {
      font-size: 1.5rem; } }
  @media (min-width: 600px) {
    .manage-events-table-caption {
      font-size: 1.5rem; } }
  @media (min-width: 900px) {
    .manage-events-table-caption {
      font-size: 2rem; } }

.manage-tags-new-tag-btn-container {
  padding: 1rem 0;
  text-align: center; }

.manage-tags-new-tag-btn {
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .manage-tags-new-tag-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.manage-tags-table {
  width: 100%;
  font-family: "Roboto", sans-serif; }

.manage-tags-table-caption {
  padding: 2rem 0; }
  @media (max-width: 599px) {
    .manage-tags-table-caption {
      font-size: 1.5rem; } }
  @media (min-width: 600px) {
    .manage-tags-table-caption {
      font-size: 1.5rem; } }
  @media (min-width: 900px) {
    .manage-tags-table-caption {
      font-size: 2rem; } }

.manage-tags-table-header {
  text-align: left; }

.new-account-legend {
  padding: 2rem 0;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .new-account-legend {
      font-size: 1.5rem; } }
  @media (min-width: 600px) {
    .new-account-legend {
      font-size: 1.5rem; } }
  @media (min-width: 900px) {
    .new-account-legend {
      font-size: 2rem; } }

.new-account-input-container {
  padding: 1rem 0; }

.new-account-label {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem; }

.new-account-input {
  border: 0.0625rem solid #495057;
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 599px) {
    .new-account-input {
      width: 100%; } }
  @media (min-width: 600px) {
    .new-account-input {
      width: 100%; } }
  @media (min-width: 900px) {
    .new-account-input {
      width: 50%; } }

.register-btn-container {
  padding: 1rem;
  text-align: center; }

.register-btn {
  margin: 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .register-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.delete-event-confirmation-msg {
  padding: 2rem 0;
  text-align: center; }

.delete-event-confirmation-btn-container {
  padding: 2rem 0;
  text-align: center; }

.delete-event-confirmation-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .delete-event-confirmation-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.delete-event-confirmation-cancel-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #4F2784;
  border: 0.125rem solid #4F2784;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .delete-event-confirmation-cancel-btn:hover {
    background-color: #FAFAFA;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }

.delete-tag-confirmation-msg {
  padding: 2rem 0;
  text-align: center; }

.delete-tag-confirmation-btn-container {
  padding: 2rem 0;
  text-align: center; }

.delete-tag-confirmation-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #FAFAFA;
  border: 0.125rem solid #000000;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .delete-tag-confirmation-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.delete-tag-confirmation-cancel-btn {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #4F2784;
  border: 0.125rem solid #4F2784;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  padding: 0.75rem; }
  .delete-tag-confirmation-cancel-btn:hover {
    background-color: #FAFAFA;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }
