.footer {
  background-color: $off-white;
}

.footer-container {
  margin: auto;
  width: 95%;
}

.footer-items {
  margin: auto;
  width: 95%;
  height: pxToRem(150px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include for-phone-only {
    grid-template-columns: 1fr;
  }
}

.footer-item-container {
  width: 100%;
}

.usc-info-container {
  @include for-phone-only {
    justify-self: stretch;
    text-align: center;
  }
}

.usc-info-item {
  margin-bottom: 0.5rem;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;

  @include for-phone-only {
    justify-content: center;
  }
}

.social-media-link {
  margin-left: pxToRem(25px);
  height: 30px;
}

.social-media-img {
  height: 100%;
}
