.header {
  border-bottom: 1px solid $light-grey;
  height: pxToRem(100px);
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  border-radius: 50%;

  @include for-phone-only {
    height: pxToRem(50px);
    width: pxToRem(50px);
  }

  @include for-tablet-portrait-up {
    height: pxToRem(60px);
    width: pxToRem(60px);
  }

  .header-logo-img {
    height: 100%;
  }
}

.header-nav-link {
  margin-left: 1rem;
  @include btn-secondary-med;
}
